.contact__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__header > h1 {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--secondary);
}
.contact__header > p {
  color: rgb(117, 117, 117);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.contact__container {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin-top: 3rem;
}
.contact_card {
  padding: 3rem 5rem;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin-bottom: 2rem;
}

.contact__content > h3 {
  color: var(--secondary);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.contact_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--secondary);
}
.contact_card > i {
  font-size: 3rem;
  justify-content: center;
}
.contact_card > span {
  font-size: 1.2rem;
  font-weight: 500;
}
.contact_card > a {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  color: rgb(117, 117, 117);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.contact__form-div {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.contact__form-div > input {
  padding: 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.15);
}
.contact__form-div > label {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary);
}
.contact__form-div > textarea {
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: none;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.15);
  margin-bottom: 4rem;
}
.btn {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.btn > a {
  display: block;

  justify-content: center;
}
@media (max-width: 1100px) {
  .contact__container {
    gap: 5rem;
  }
}
@media (max-width: 912px) {
  .contact__container {
    flex-direction: column;
  }
  .contact__content:nth-child(1) {
    justify-content: center;
    margin: 0 0rem;
  }
}
@media (max-width: 400px) {
  .contact__info {
    width: 300px;
  }
  .contact__container {
    margin-left: 1.5rem;
  }
  .contact__form-div {
    width: 200px;
  }
  .contact__form-input {
    width: 210px;
  }
  .contact__form-div > input {
    font-size: 1rem;
  }
  .contact__form-div > label {
    font-weight: 500;
    font-size: 0.9rem;
  }
  .contact__form-div > textarea {
    padding: 1.5rem 0rem;
    width: 300px;
    font-size: 0.9rem;
    justify-content: center;
    margin-right: -rem;
    margin-left: -4rem;
  }
  .contact__form-div > {
    margin-left: -4rem;
  }
  .contact__form-tag:last-child {
    padding-left: -4rem;
  }
}
