.h-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--black);
  display: flex;
  align-items: center;
  z-index: 100;

  justify-content: space-between;
}
.navbar {
  padding: 1rem;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;

  z-index: 1000;
  background-color: #fff;
  /* box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.15); */
  border-radius: 0 0 15px 15px;
}

.active {
  box-shadow: 0 -1px 9px rgba(0, 0, 0, 0.3);
}
.h-container > h1 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}
.h-menu {
  gap: 2rem;
}
.icon {
  display: none;
}

li {
  list-style: none;
  font-size: 1.2rem;
}
ul {
  gap: 3rem;
}

.h-menu > *:hover {
  cursor: pointer;
}
.hamberger > i {
  font-size: 2rem;
  display: none;
}
@media (max-width: 876px) {
  .hamberger > i {
    display: block;
    cursor: pointer;
  }
  .h-menu {
    /* height: 500px; */
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(5px);
    transition: all 0.2s;
    /* transition: 0.3s all ease-in; */
  }
  .h-mobile {
    top: -80px;
    transition: all 0.2s;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    left: 0;
    width: fit-content;
    margin: 80px auto 20px auto;
    text-align: center;

    /* transition: 0.3s all ease-in; */
  }
  .nav__mobile {
    display: none;
    transition: all 0.2s;
  }
  .icon {
    display: block;
    font-size: 2rem;
  }
}
